@import 'variables';

.hamburger_container{
  
  .link_container{
    
    list-style: none;
    
    .link_text{
      text-decoration: none;
      font-weight: 600;
      color: $lapis-lazuli;
      text-align: center;
      font-size: 26px;
      margin: 1em;
      font-family: $site-font;
    }
    .link_text:hover{
      color: black;
      transition: 700ms;
     
    }
    
  }
}
.h-menu-link{
  width: 200px;
  font-size: 2em;
}
.hamburger-icon-button{
  color: white;
  background-color: rgba(206, 180, 180, 0);
  display: block;
  float: right;
  margin: 20px;



.nav_container{
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 1000px;
}
.material-icons{
    font-size: 32px;
  }
.mobileNavView{
    display: block;
  }
.hmenulinks{
  height: 500px;
  display: flex;
  flex-direction: column;
}
@media(min-width:600px){
  .material-icons{
    font-size: 55px;
  }

  .hamburger_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
  }
  .hamburger-icon-button{
    display: none;
  }
  .mobileNavView{
    display: none;
  }
}
@media(min-width:1000px){
  .hamburger_container{
    display: flex;
    flex-direction: row;
    width: 90vw;
    box-sizing: unset;
    padding-bottom: 2em;
    padding-right: 2em;
  }

  
}

@media(min-width:1400px){
  .hamburger_container{
    max-width: 1400px;
  }
  
}
}
